<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TwitterImageSearchAPI.SecretSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TwitterImageSearchAPI.SecretSetting>
            <setting name="ConsumerKey" serializeAs="String">
                <value>o7eapNUes9QniE5BYcPIXKkzQ</value>
            </setting>
            <setting name="ConsumerSecret" serializeAs="String">
                <value>vgAZHtdzNlie0CjzM5UNePZChmORbfy2xCBwElIBJYP10QNagy</value>
            </setting>
            <setting name="AccessToken" serializeAs="String">
                <value>310734290-KgJkoYTgupZHX4kZRB9wIUIeZxwBwupLMp3JuKbv</value>
            </setting>
            <setting name="AccessTokenSecret" serializeAs="String">
                <value>fPF4pyPzb8NFPMEvGcSYtY2e1eCGgKbCWd7PVOUokuPMy</value>
            </setting>
        </TwitterImageSearchAPI.SecretSetting>
    </applicationSettings>
</configuration>